
html, body {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}

body, button, input, label{
    font-family: 'Menomonia', sans-serif;
}
body {
    background-color: #ffffff;
    margin: 0;    
    background-color:#000;
    /*background-image:url(../img/Kites.jpg);*/
    /*background-image:url(../img/VB.jpg);*/
    background-image:url(../img/DR2.jpg);
    /*background-image:url(../img/DR2F.jpg);*/
    /*background-image:url(../img/wall.jpg);*/
    /*background-image:url(../img/denravi.jpg);*/
    background-attachment: fixed;
    /*background-image:url(https://d3b4yo2b5lbfy.cloudfront.net/wp-content/uploads/wallpapers/Sylvari-01-1920x1080.jpg);*/
    
    background-size: cover;
}

#intro{
    height: 100%;
   
    
    margin:0 auto;
    position: relative;
    top:0;
    max-width: 600px;
    /*border-radius: 15px;*/

    
    /*-webkit-box-shadow: 10px 10px 17px -2px rgba(0,0,0,0.35);
    -moz-box-shadow: 10px 10px 17px -2px rgba(0,0,0,0.35);
    box-shadow: 10px 10px 17px -2px rgba(0,0,0,0.35);*/

    -webkit-box-shadow: 0px 0px 31px 2px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 31px 2px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 31px 2px rgba(0,0,0,0.55);

    
}
#intro h1{
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    margin: 0 0 20px;
    text-align: center;
    font-size: 40px;
    width:  100%;
    display: inline-block
}
#intro .content{
    box-sizing: border-box;
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -120px; /* the bottom margin is the negative value of the footer's height */

    padding:15px 20px 30px;


    /*background-color:rgba(255,255,255,0.9);*/
    /*border-top-left-radius: 15px;
    border-top-right-radius: 15px;*/
}
.link{
    color:#c94545!important;
    text-decoration: underline!important;
    cursor: pointer;
}
form{
    margin: 0 0 -30px;
    padding: 0;
}
input.link{
    margin: 0;
    padding: 0;
    display: inline;
    background: none;
    border: none;
    
}
#intro .content p{
    line-height:1.2; 
}
#intro .content ul{
    margin: -5px 0 10px;
    padding: 0 40px;
}
#intro a{
    color:black;
    text-decoration: none;
}
#intro .copyright a{
    color:white;
    margin-left:68px;
}
#intro a:hover{
    text-decoration: underline;
}

#intro .copyright, #intro .push {
    box-sizing: border-box;
    height: 120px; /* .push must be the same height as .footer */
}
#intro .copyright:before{
    content: '';
    display: block;
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0;
    right:0;
    
    background-size:contain;
    background-image:url(../img/border.png);
    background-position: bottom right;
    background-repeat: no-repeat;

    opacity: 0.3;
    z-index: 1;
}
#intro .copyright{
    position: relative;
    font-size: 12px;
    color: #fff;
    background-color:rgba(10,10,10,0.6);
    margin:0;
    padding: 20px 20px 10px;
   /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;*/
}
#intro .copyright p{
    position: relative;
    z-index: 2;
}


#intro .copyright p{
    margin-top:0;
}
#intro button {
    /*display: block;
    margin: 0 auto;
    outline:none;
    border: 0 none;
    background: #666666;
    background-image: -webkit-linear-gradient(top, #666666, #333333);
    background-image: -moz-linear-gradient(top, #666666, #333333);
    background-image: -ms-linear-gradient(top, #666666, #333333);
    background-image: -o-linear-gradient(top, #666666, #333333);
    background-image: linear-gradient(to bottom, #666666, #333333);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;*/
}

/*#intro button:hover {
    background: #888888;
    background-image: -webkit-linear-gradient(top, #888888, #555555);
    background-image: -moz-linear-gradient(top, #888888, #555555);
    background-image: -ms-linear-gradient(top, #888888, #555555);
    background-image: -o-linear-gradient(top, #888888, #555555);
    background-image: linear-gradient(to bottom, #888888, #555555);
    text-decoration: none;
}*/

.hidden{
    display: none!important;
}

#error{
    /*font-weight: bold;*/
    text-align: center;
    font-size: 16px;
    color:#ff3333;
}

#stats {
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
    display: none;
}  

#UI{
    position: absolute;
    top:0;
    right:0;
    width:260px;

    z-index: 100;
    
    border-bottom-left-radius: 15px;
    -webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.35);
    
    border-left: 1px solid rgba(0,0,0,0.35);
    border-bottom: 1px solid rgba(0,0,0,0.35);
}

.ui-panel{
    margin:5px 10px;
    position: relative;
}
.ui-panel .title{
    margin:0;
    /*font-weight: bold;*/
    font-size: 22px;
    text-align: center;
}
.ui-panel .titleSeparator{
    color:#666;
}
.ui-panel .titleInactive{
    color:#999;
    font-size: 0.8em;
}
.ui-panel .titleLink{
    font-size: 0.8em;
    color:#c94545;
    opacity: 0.8;
    text-decoration: underline;
    cursor: pointer;
}

.optionsLink{
    margin: 4px 0;
    color:#c94545;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}


#output .ui-panel label:not(:last-of-type){
    margin-right:22px;
}
#output .ui-panel .label{
    margin-right:5px;
}
#output .ui-panel input[type="checkbox"]{
    position: relative;
    top:2px;
}
.ui-panel .label{
    
    font-size: 16px;
    color:#c94545;
    display: inline-block;
    cursor: pointer;
}

.ui-panel .instruction{
    font-size: 16px;
    text-align: left;
}

.slider{
    cursor: pointer;
    font-size: 12px;
    margin: 2px 10px 10px;
}

.highlight{
    color:#c94545;
}

#UI .halfLabel .label{
    font-size:15px;
}
#UI .halfLabel{
    
    cursor: pointer;
    display: inline-block;
    width:50%;
    text-align: center;
    user-select: none;
}
#UI label:hover{

}

#UI .light{
    display: inline-block;
    width: 33%;

}
#UI .light .slider{
    /*margin-right:0;
    margin-left:0;*/
}

.noselect{
     -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-slider-handle{
    cursor: pointer!important;
}




#UI input[type=text]{
    margin:0 10px;
    width:210px;
    color:#333;
    font-size:14px;
}
#UI input[type=checkbox]{
    margin:12px 10px;
}
/*#UI input[type=file]{
    color: #fff;
    font-size: 14px;
    width: 100%;
}*/
#UI select{
    width:100%;
}
#UI button{
    display: block;
    margin: 10px auto 0;
}
#mouseLockBtn{
    margin-bottom: 20px!important;
}

#mapPicker{
    margin-bottom: 20px;
}

#UI .uiText{
    color:#000;
}


#outputWrapper{
    z-index: 50;
    position: absolute;
    /*top: 200px;*/
    top:0;
    left: 0;
    right: 0;
    /*right: 260px;*/
    user-select: none;
}

#output:before{
    content:'';
    position: absolute;
    background-size:cover;
    background-image:url(../img/border2.png);
    background-position: top center;
    background-repeat: no-repeat;
    z-index: 1;
    opacity: 0.04;
    top:0; bottom:0; left:0; right: 0;
}

#output .ui-panel{
    position: relative;
    z-index: 2;
}

#output .ui-panel p.instruction{
    margin:20px 0;
}

#output{
    position: relative;
    cursor:default;
    user-select: none;
    width: 400px;
    margin: 0 auto;
    overflow: hidden;


    
    /*background-color: rgba(255, 255, 255, 0.8);*/


    /*border-radius: 10px;*/
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid rgba(0,0,0,0.35);
    border-top:0px none;

    -webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.35);
    
    

    
    
    
    font-size: 20px;
    text-align: center;
    padding:10px 20px 20px;
    

}






button:active{
  background-image: linear-gradient(rgba(0,0,0,0.10),rgba(0,0,0,0.15))!important;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.25) inset,0 2px 0 rgba(255,255,255,0.3) inset,0 1px 2px rgba(0,0,0,0.15),0 0 10px rgba(0,0,0,0.6);
}

button:hover{
    box-shadow: 0 0 0 1px rgba(0,0,0,0.25) inset,0 2px 0 rgba(255,255,255,0.3) inset,0 1px 2px rgba(0,0,0,0.15),0 0 10px rgba(0,0,0,0.6);
    background-image: linear-gradient(transparent,rgba(0,0,0,0.05) 40%,rgba(0,0,0,0.15));
}


button.big{
    font-size: 25px;
    padding-bottom: 7.5px;
    padding-left: 39px;
    padding-right: 51px;
    padding-top: 7.5px;
    height: 75px;
}

nav{
    position: relative;;
    margin-left:-20px;
    margin-right:-20px;
    
    height: 115px;

    
}
nav .buttonHolder{
    position: absolute;
    top:20px;
    left:0;
    right:0;

    z-index: 2;
}
nav button{
    
}

nav:before{
    content:'';
    position: absolute;
    
    background-image:url(../img/border3.png);
    background-position: top center;
    background-repeat: no-repeat;
    z-index: 1;
    opacity: 0.06;
    top:0; bottom:0; left:0; right: 0;
}

.error{
    position: relative;
    z-index: 2;
    font-size: 25px;
    line-height: 115px;
    text-align: center;
    color:#fff;
}
.error a{
    color:#fff!important;
}
#frontpageLoader{
  
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: opacity: 0.0;}
}

button{
    font-size: 15px;

    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    align-items: flex-start;
    background-color: rgb(172, 24, 23);
    background-image: linear-gradient(rgba(255, 255, 255, 0.298039), rgba(255, 255, 255, 0.14902) 40%, transparent);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-style: solid;
    border-top-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.298039) 0px 2px 0px 0px inset, rgba(0, 0, 0, 0.14902) 0px 1px 2px 0px, rgba(0, 0, 0, 0.2) 0px 0px 27px 0px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: block;
    /*font-family: EasonPro, serif;*/
    
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 37.5px;
    letter-spacing: normal;
    line-height: normal;

    margin: 0 auto;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 3.75px;
    padding-left: 19.5px;
    padding-right: 25.5px;
    padding-top: 3.75px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-transform: uppercase;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: box-shadow;
    transition-timing-function: linear;
    vertical-align: baseline;

    word-spacing: 0px;
}

.diagonalBG{
    background: -moz-linear-gradient(45deg,  rgba(255,255,255,0.95) 0%, rgba(230,230,230,0.95) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,0.95)), color-stop(100%,rgba(230,230,230,0.95))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(255,255,255,0.95) 0%,rgba(230,230,230,0.95) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(255,255,255,0.95) 0%,rgba(230,230,230,0.95) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(255,255,255,0.95) 0%,rgba(230,230,230,0.95) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(255,255,255,0.95) 0%,rgba(230,230,230,0.95) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ffffff', endColorstr='#f2e6e6e6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.darkBG{
    -webkit-box-shadow: 0px 0px 31px 2px rgba(0,0,0,0.55) inset;
    -moz-box-shadow: 0px 0px 31px 2px rgba(0,0,0,0.55) inset;
    box-shadow: 0px 0px 31px 2px rgba(0,0,0,0.55) inset;

    background: -moz-linear-gradient(left,  rgba(51,51,51,0.8) 0%, rgba(51,51,51,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,0.8)), color-stop(100%,rgba(51,51,51,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(51,51,51,0.8) 0%,rgba(51,51,51,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(51,51,51,0.8) 0%,rgba(51,51,51,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(51,51,51,0.8) 0%,rgba(51,51,51,0.5) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(51,51,51,0.8) 0%,rgba(51,51,51,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc333333', endColorstr='#80333333',GradientType=1 ); /* IE6-9 */
}
