html, body {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}

body {
    background-color: #ffffff;
    margin: 0;
    font-family: arial;
    background-color:#000;
    background-image:url(../../img/Kites.jpg);
    background-size: cover;
}

#intro{
    
    margin:0 auto;
    position: relative;
    top:40px;
    max-width: 600px;
    border-radius: 15px;

    
    /*-webkit-box-shadow: 10px 10px 17px -2px rgba(0,0,0,0.35);
    -moz-box-shadow: 10px 10px 17px -2px rgba(0,0,0,0.35);
    box-shadow: 10px 10px 17px -2px rgba(0,0,0,0.35);*/

    -webkit-box-shadow: 0px 0px 31px 2px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 31px 2px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 31px 2px rgba(0,0,0,0.55);

    
}
#intro h1{
    margin: 0.2em 0;
}
#intro .content{
    padding:20px 20px 30px;
    background-color:rgba(255,255,255,0.9);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#intro a{
    color:black;
    text-decoration: none;
}
#intro .copyright a{
    color:white;
    margin-left:68px;
}
#intro a:hover{
    text-decoration: underline;
}
#intro .copyright{
    font-size: 12px;
    color: #fff;
    background: #333;
    margin:0;
    padding: 20px 20px 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#intro .copyright p{
    margin-top:0;
}
#intro button {
    display: block;
    margin: 0 auto;
    outline:none;
    border: 0 none;
    background: #666666;
    background-image: -webkit-linear-gradient(top, #666666, #333333);
    background-image: -moz-linear-gradient(top, #666666, #333333);
    background-image: -ms-linear-gradient(top, #666666, #333333);
    background-image: -o-linear-gradient(top, #666666, #333333);
    background-image: linear-gradient(to bottom, #666666, #333333);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#intro button:hover {
    background: #888888;
    background-image: -webkit-linear-gradient(top, #888888, #555555);
    background-image: -moz-linear-gradient(top, #888888, #555555);
    background-image: -ms-linear-gradient(top, #888888, #555555);
    background-image: -o-linear-gradient(top, #888888, #555555);
    background-image: linear-gradient(to bottom, #888888, #555555);
    text-decoration: none;
}

.hidden{
    display: none!important;
}

#error{
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color:#ff3333;
}

#stats {
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
    display: none;
}  

#UI{
    position: absolute;
    top:0;

    bottom:0;
    right:0;
    width:260px;
    background-color:#333;
    overflow: hidden;
}

.ui-panel{
    margin: 5px 10px 25px;
    padding-bottom:20px;
    border-bottom: 1px solid white;
}
.ui-panel .title{
    margin:0 0 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.ui-panel .label{
    color: white;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    margin: 12px 0;
}

.ui-panel .instruction{
    color: white;
    font-size: 14px;
}

.slider{
    cursor: pointer;
    font-size: 12px;
    margin: 2px 10px 10px;
}

#UI .halfLabel{
    cursor: pointer;
    display: inline-block;
    width:50%;
    text-align: center;
    user-select: none;
}
#UI label:hover{

}

#UI .light{
    display: inline-block;
    width: 33%;

}
#UI .light .slider{
    /*margin-right:0;
    margin-left:0;*/
}

.noselect{
     -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-slider-handle{
    cursor: pointer!important;
}


#UI input[type=text]{
    margin:0 10px;
    width:210px;
    color:#333;
    font-size:14px;
}
#UI input[type=checkbox]{
    margin:12px 10px;
}
#UI button{
    display: block;
    margin: 10px auto;
}


#outputWrapper{
    z-index: 100;
    position: absolute;
    top: 200px;
    left: 0;
    right: 260px;
    user-select: none;
}

#output{
    cursor:default;
    user-select: none;
    width: 400px;
    margin: 0 auto;
    color: white;
    /*background-color: #333;*/
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 15px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    padding:20px;
    /*display: none;*/

}